*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vh;
    background-image: url(background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box{
    height: 86vh;
    width: 95%;
    padding:  20px;  
    position: relative;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);   
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);     
   
}
button{
    padding: 15px 20px;
    position: absolute;
    background-color: #6f34fe;
    border: 1px solid #6f34fe;
    color: #fff;
    font-weight: 500;

}
.box nav ul li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    
}
.box nav{
    position: absolute;
    top: 30px;
    right: 50px;
}

.box nav ul li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: #242329;
    transition: 0.3s;
}
.box nav ul li a:hover{
    color: #7c8bd1;
}
button:hover{
    color: #6f34fe;
    transition: 0.3s;
    background-color: #cdddf3;
    border: 1px solid ;
}
.box img{
    
    margin-bottom: 20px;
    margin-left: 225px;
}
.icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    bottom: 300px;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 0 30px;
    margin-bottom: 3px;
    text-decoration: none;
    cursor: pointer;
    color: #7c8bd1;
    transition: 0.3s;
}

.icon span{
    font-size: 10px;
    letter-spacing: none;
   display: block;
   font-weight: 70px;
}