*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vh;
    background-image: url(background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box{
    height: 86vh;
    width: 95%;
    padding:  20px;  
    position: relative;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);   
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);     
   
}
.box nav ul li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    
}
.box nav{
    display: flex;
    position: absolute;
    top: 30px;
    right: 50px;
}

.box nav ul li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: #242329;
    transition: 0.3s;
}
.box nav ul li a:hover{
    color: #7c8bd1;
}
.content1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   
   
    
}
.content2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
   
}
.content1 img{
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    
    
}
.content2 img{
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    
    
}
.img-box button:hover{
    
    transition: 0.3s;
    background-color: #cdddf3;
    border: 1px solid ;
}
.icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    bottom: 300px;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 0 30px;
    margin-bottom: 3px;
    text-decoration: none;
    cursor: pointer;  
    transition: 0.3s;
}
.icon:hover{
    color: #7840fa;
    
}
button:hover{
    background-color:#7c8bd1; ;
}



